.modalBg{position:fixed;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,.5);z-index:3;}
.ellipsis{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;}
body{font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;}
/*登录*/
.login_main{min-width: 720px;min-height: 580px;height:100vh;vertical-align: middle;background-color: #467CD4;background:url(./../assets/login/login_bg.png) no-repeat fixed center;}
.login_box{width: 680px;height: 430px;box-sizing: border-box;display:flex;justify-content:center;
	background:url(./../assets/login/login_input_bg.png) no-repeat center;background-size: 100% 100%;padding: 40px 60px;}
.login_img{width: 45%;margin-right: 2%;background: url(./../assets/login/logn_pic1.png) no-repeat;background-position: 40px 80px;background-size: 200px 210px;}
.login_group{width: 45%;margin-left: 5%;border-radius: 20px;}
.login_group>p{color: #201E25;font-family: sans-serif;font-weight: initial;font-size: 20px;margin-bottom: 50px;margin-top: 60px;}
.login_item{width: 100%;display: flex;flex-wrap: nowrap;margin: 15px 0;position: relative;}
.login_item>input{width: 170px;background-color: rgba(0,0,0,0);border:0;outline:none;color: #A3ACBB;
	border-bottom: 1px solid #738299;line-height: 30px;font-size: 16px;padding:0 10px;}
.login_item>input:-moz-placeholder {color: #D2D5D9;opacity: 1;}
.login_item>input::-moz-placeholder {color: #D2D5D9;opacity: 1;}
.login_item>input:-ms-input-placeholder {color: #D2D5D9;opacity: 1;}
.login_item>input::-webkit-input-placeholder {color: #D2D5D9;opacity: 1;}
.login_item>.login_icon{width: 28px;height: 28px;margin-right: 10px;}
.login_item>.delete_text{position: absolute;width: 20px;height: 20px;padding: 5px;left: 200px;top: 0px;}
.login_submit {width: 200px;line-height: 40px;border-radius: 20px;background-color: #6EB92B;text-align: center;color: #fff;margin: 40px auto 0;font-size: 14px;font-weight: bold;}

.storeTip{font-size: 14px;font-family: '宋体';line-height: 30px;}
.storeTip>.storeName{text-align: center;border-bottom: 1px solid #ccc;line-height: 30px;margin-bottom: 10px;padding-bottom: 10px;}

/*查询商品*/
.searchGoodsBox{width: 100%;background-color: #fff;position: relative;z-index: 4;box-shadow: 0px 2px 6px #ccc;border-radius: 4px;overflow: hidden;}
.searchGoodsBox>li{line-height: 40px;text-indent: 10px;}
/*购物车*/
.cartItem{
	height: 100px;
	position: relative;
	/*margin-bottom: 1px;*/
	border-left:5px solid #fff;
	position: relative;
	/*padding-top: 6px;*/
    box-sizing: border-box;
}
.cartItem:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	display: block;
	width: 96%;
	height: 0px;
	border-bottom: 1px dashed #d9d9d9;
}
.cartItem.check{
	background-color: #f4f7ff;
	border-left:5px solid #6c8bd3;
}
.cartItem>.title{font-size: 14px;color: #1a1818;line-height: 28px;}
.cartItem>.code{color: #888;font-size: 12px;text-indent: 15px;line-height: 20px;padding-bottom: 10px;}
.cartItem>.price{color: #888;font-size: 13px;text-indent: 15px;line-height: 20px;}
.cartItem>.totals{color: #d40808;font-size: 13px;text-indent: 15px;line-height: 20px;}
.cartItem>.delete{position: absolute;right: 0;top: 0;z-index: 3;padding: 15px;}
.cartItem.check>.title{color: #6c8bd3;}
.cartItem.check>.code{color: #6c8bd3;}
.cartItem.check>.price{color: #6c8bd3;}
.cartItem.check>.totals{color: #6c8bd3;}

.numBox{
	position: absolute;
	bottom: 10px;
	right: 30px;
}
.numBox>div{
	display: inline-block;
	vertical-align: middle;
}
.numBox>.reduce,.numBox>.add{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	color: #6c8bd3;
	font-size: 20px;
	line-height: 27px;
	text-align: center;
	font-weight: bold;
	position: relative;
	z-index: 2;
}
.numBox>.reduce{border: 1px solid #e8efff;}
.numBox>.add{background-color: #e8efff;}
.numBox>.num{
	min-width: 30px;
	margin: 0 6px;
	color: #6c8bd3;
	font-size: 16px;
	text-align: center;
	line-height: 27px;
}
.goodGive{
	position: absolute;
	top: 10px;
	right: 10px;
	color: #fff;
	background-color: #FF6547;
	/*width: 20px;*/
	text-align: center;
	line-height: 20px;
	border-radius: 4px;
	font-size: 10px;
    padding: 0 4px;
    letter-spacing: 1px;
}

.handleOrder{
	height: 45px;
	background-color: #fff;
	position: relative;
}
.handleOrder>div{
	display: inline-block;
	margin:5px 2%;
	height: 30px;
	border-radius: 5px;
	text-align:center;
}
.handleOrder>.cancel{width:24%;background-color: #ebf4fe;}
.handleOrder>.putUp{width:16%;background-color: #e8efff;}
.handleOrder>.cutUp{width: 18%;height: 28px;border:1px solid #8e8f93;}
.handleOrder>.cutDown{width: 18%;height: 28px;border:1px solid #8e8f93;}
.handleOrder:after{
	content: '';
	position: absolute;
	bottom: 0px;
	left: 8px;
	display: block;
	width: 96%;
	height: 0px;
	border-bottom: 1px solid #d9d9d9;
}


.totalBox{
	height: 40px;
	width: 100%;
	background-color: #fff;
	padding: 10px 2% 6px;
	box-sizing: border-box;
}
.totalBox>span{display: inline-block;text-align: left;}
.totalBox>.title{width: 14%;font-size: 14px;}
.totalBox>.num{width: 30%;font-size: 14px;color: #ababab;}
.totalBox>.total{width: 52%;text-align: right;font-size:20px;color:#cb0707;font-weight: bold; }
.totalBox>.total span{font-size: 12px;}

.bgBlock{width: 100%;height: 12px;background-color: #fff;}

.payBox{
	/*width: 100%;*/
	margin-top: 10px;
	border-radius: 4px;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
.payBox>div{text-align: center;width: 33.3%;color: #fff;font-size: 14px;}
.payBox>.weixin{background-color: #09BB07; }
.payBox>.custom{background-color: #535A6C; }
.payBox>.pay{background-color: #3B7BF6; }

/*商品模块*/
.classifyBox{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 52px;
	padding: 0 20px;
    box-sizing: border-box;
}
.classifyBox>.left,.classifyBox>.right{width: 26px;height: 26px;padding: 13px;}
.classifyBox>.contentBox{width: 100%;line-height: 52px;font-size: 13px;}
.classifyBox .contentBox>.classifyItem{
	display: inline-block;
	width: 80px;
	text-align: center;
	color: #252525;
}
.classifyBox .contentBox>.classifyItem.check{color: #6C8BD3;border-bottom: 2px solid #6C8BD3;}
/*商品兼容原生样式*/
.classifyBox .el-tabs__header{margin-bottom: 0;height: 100%;}
.classifyBox .el-tabs__nav-wrap{height: 100%;}
.classifyBox .el-tabs__nav-wrap::after{height: 0}
.classifyBox .el-tabs__item{height: 52px;line-height: 52px;}
.classifyBox .el-tabs__nav-wrap.is-scrollable{padding: 0 40px;}
.classifyBox .el-tabs__nav-next, .el-tabs__nav-prev{line-height: 52px!important;}
/*.classifyBox .el-tabs__nav-prev,.classifyBox .el-tabs__nav-next {width: 30px;display: inline-block;text-align: center;}*/
.classifyBox .el-tabs__content{display: none;}

.goodsBox{width: 100%;height: 100%;}

.goodsBox>.goodsItem{
	display: inline-block;
	vertical-align: top;
	width: 142px;
	/*height: 142px;*/
	background-color: #fff;
	margin: 0 5px 5px 0;
	padding: 5px 3px;
	box-sizing: border-box;
}
.goodsBox>.goodsItem .goodsImg{width: 100px;height: 100px;margin: 0 auto;opacity: .85;}
.goodsBox>.goodsItem .goodsName{font-size:13px;color:#444;width:100%;height:32px;display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2;overflow: hidden;}
.goodsBox>.goodsItem .goodsPrice{font-size: 14px;color: #444;font-weight: bold;text-align: right;}
.goodsBox>.goodsItem .barcode{font-size: 12px;color: #444;}
.goodsBox>.goodsItem .goodsPrice.goodsNoNum{color:#cb0707;}

.handleGoods{height: 100%;text-align: center;}
.handleGoods>.returnGoods{float:left;width: 118px;height: 38px;border: 1px solid #696969;border-radius: 4px;background-color: #fff;}
.handleGoods>.pageUp,.handleGoods>.pageDown{float: right;width: 118px;height:38px;border: 1px solid #C0C0C0;border-radius: 4px;margin-left: 10px;background-color: #fff;}
.handleGoods>.pageNum{line-height: 50px;font-size: 16px;display: inline-block;font-weight: bold;}
/*修改购物车单品信息的窗口*/
.changeGoodsMsg{width: 100%;display: flex;border-bottom: 1px solid #ccc;margin: 0 auto;}
.changeGoodsMsg>div{display: inline-block;}
.changeGoodsDetail{line-height: 20px;padding: 4px 0;width: 320px;}
.changeGoodsDetail .goodsName{font-size: 16px;font-weight: bold;line-height: 30px;}
.changeGoodsDetail .goodsCode{font-size: 14px;line-height: 20px;color: #999;margin-bottom: 10px;}
.changeGoodsDetail .changeNumHandle{display: flex;justify-content: space-between;line-height: 32px;}
.changeNumBox{width: 440px;display: flex;flex-wrap: wrap;margin: 10px auto;}
.changeNumBox>.changeNumItem{width: 48%;border-radius: 4px;box-sizing: border-box;margin: 1%;line-height: 30px;
	position: relative;overflow: hidden;}
.changeNumBox>.changeNumItem input{border: 1px solid #ccc;width: 100%;height: 100%;outline:none;line-height: 30px;font-size: 24px;padding: 8px 30px 8px 40px;
	box-sizing: border-box;text-align: right;border-radius: 4px;color: #6C8BD3;}
.changeNumBox>.changeNumItem input:focus{border-color: #6C8BD3;}
.changeNumBox>.changeNumItem ._inputBefore{position: absolute;margin-top: 8px;top: 0;left: 0;width: 40px;line-height: 30px;text-align: center;color: #666;}
.changeNumBox>.changeNumItem ._inputAfter{position: absolute;margin-top: 8px;top: 0;right: 0;width: 30px;line-height: 30px;text-align: center;color: #666;}
/*会员窗口*/
.vipBox{position: fixed;top: 0;right: 0;bottom: 0;width: 500px;min-height: 580px;background-color: #fff;z-index: 4;}
.handleLine{width: 100%;height: 60px;position: relative;border-top: 10px solid #E6EDF5;padding: 0 10px;box-sizing: border-box;
	display: flex;flex-wrap: nowrap;justify-content: space-between;align-items: center;}
.handleLine::after{content:'';width:90%;height: 1px;background-color: #D9D9D9;display: block;position: absolute;bottom: 0;left: 5%;}
.handleLine .returnBar{display: flex;align-items: center;font-size: 14px;font-weight: bold;cursor: pointer;}
.handleLine .returnBar>img{width: 30px;height: 30px;}
.handleLine .modalTitle{font-size: 16px;font-weight: bold;padding: 0 10px;box-sizing: border-box;}
.saveVip{font-size: 14px;font-weight: bold;margin-right: 10px;}
/*会员查询*/
.vipCont>.vipSearch{width: 100%;padding: 20px 15% 0;box-sizing: border-box;}
.vip_handleBox{width: 100%;display: flex;justify-content: space-between;margin: 20px auto 0;text-align: center;}
.vip_handleBox>div{width: 45%;line-height: 40px;border:1px solid #D9D9D9;border-radius: 6px;font-size: 12px;cursor: pointer;}
.detailBar{background-color: #42454B;color: #fff;}
.parBar{background-color: #fff;color: #6C8BD3;}
/*查询会员结果*/
.vipCont>.vipMsg{width: 100%;padding: 20px;box-sizing: border-box;}
.vip_msg_check{margin: 0 auto;width: 300px;border:1px solid #1B1F28;border-radius: 6px;display: flex;align-items:center;overflow: hidden;cursor: pointer;}
.vip_msg_check>div{width: 50%;text-align: center;font-size: 12px;background-color: #fff;color: #1B1F28;line-height: 30px;}
.vip_msg_check>div.vip_msg_active{background-color: #1B1F28;color: #fff;}
.vipCard{width: 440px;min-height: 220px;background: url(./../assets/cardbg.png) no-repeat;background-size:cover; border-radius: 10px;margin: 10px auto 0;}
.card_title{width: 100%;min-height: 80px;display: flex;padding:10px;box-sizing: border-box;}
.vipIcon{width: 40px;height: 40px;margin: 10px;}
.card_title_cont{width: 280px;padding:10px 10px 10px 0;box-sizing: border-box;color: #fff;font-size: 14px;font-weight: bold;}
.edit_cont{width: 80px;background-color: #0B0E15;color: #fff;line-height: 24px;height:24px;border-radius: 4px;text-align: center;margin-top: 10px;}
.card_msg{width: 88%;margin-left: 6%;font-size: 0;margin-top: 10px;}
.card_msg>div{display: inline-block;width: 33%;font-size: 12px;color: #fff;padding: 0 2px;box-sizing: border-box;}
.card_point{width: 400px;margin: 10px auto 0;font-size: 0;text-align: center;padding: 10px 0;}
.card_point>div{width: 49%;display: inline-block;}
.card_point .point_val{color: #E0BA81;font-size: 40px;font-weight: bold;}
.card_point .point_label{color: #fff;font-size: 14px;line-height: 24px;}
.card_point_left{border-right: 1px solid #fff;}
/*.card_nomore{line-height: 200px;color: #fff;text-align: center;font-size: 20px;}*/
.vipMsg .vip_handleBox{width: 360px;justify-content: center;}
.vipMsg .rechargeBar{color: #6C8BD3;}
.vipMsg .parBar{background-color: #6C8BD3;color: #fff;}
/*会员新增*/
.vipCont>.vipAdd {width: 100%;padding: 20px 40px;box-sizing: border-box;}
.vipForm{width: 420px;border-radius: 10px;margin: 30px auto 0;}
.vip_input_item{font-size: 16px;text-align: left;margin-bottom: 14px;position: relative;line-height: 40px;}
.vip_input_item>.vip_input_label{display: inline-block;width: 90px;}
.vip_input_item .el-input,
.vip_input_item .el-select,
.vip_input_item .el-cascader,
.vip_input_item .el-date-picker{width: 310px;}
.vipForm .el-form-item label{width: 80px;text-align: left;}

.vip_input_item.non_empty::after{content: '必填';position: absolute;display: block;top: 0;right: -24px;color: #61A2F5;font-size: 16px;line-height: 40px;}

/*会员充值*/
.vipData{width: 100%;margin-bottom: 10px;}
.vipData>div{display: inline-block;width: 33%;line-height: 40px;font-size: 14px;}
.el-dialog__body{padding: 10px 20px;}
.moneyinput,.payTypeBox{width: 100%;/*margin-bottom: 10px;*/}
/*.payTypeBox>payItem{padding: 0 10px;line-height: 40px;}*/
/*退货模态框*/
#dialogReturnGoods .el-dialog{width: 1020px;}
.dialogReturnGoods{height: 360px;}
.dialogReturnGoods .el-container{height: 100%;}
.dialogReturnGoods .el-main,.dialogReturnGoods .el-header{padding: 0;height: 100%;}
.dialogReturnGoods .el-aside{width: 248px!important;}
.dialogReturnGoods .el-header .el-input{width: 400px;margin-right: 30px;}
.dialogReturnGoods .el-date-picker .el-input{width: 140px;margin-right: 130px;}
.dialogReturnGoods .el-table{height: 100%!important;}
.dialogReturnGoods .el-table .el-input input{padding: 0 10px;}
/*退款模态框*/
#dialogReturnMoney .el-dialog{width: 600px;}
.dialogReturnMoney{text-align:left;}


/*修改商品信息模态框*/
.changeNumGoodsBox .el-dialog{margin-top: 80px!important;margin:0 0 0 420px;}
.changeNumGoodsBox .el-dialog__header{padding: 0;}

/*翻页*/
.pageTurn{}
.pageTurn{display: flex;justify-content: space-between;}
.pageTurn img{width: 20px;height: 20px;}
.pageTurn .el-button{margin: 4px 4px;width: 80px;}
.pageTurn .pageNum{line-height: 44px;font-size: 14px;font-weight: bold;}