.red{color: #E04C4C!important;}.bRed{background-color: #E04C4C!important;}
.orange{color: #F97D47!important;}.bOrange{background-color: #F97D47!important;}
.blue{color: #26A2D0!important;}.bBlue{background-color: #26A2D0!important;}
.green{color: #6FBA2C!important;}.bGreen{background-color: #6FBA2C!important;}
.yellow{color: #FEBE25!important;}.bYellow{background-color: #FEBE25!important;}
.bold{font-weight: bold;}